
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

h1, h2, h3, p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.screen{
	width: 100%;
	min-height: 100vh;
	display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Open Button */
.open{
  background: coral;
  color: white;
  font-size: 28px;
  font-weight: bold;
}
/* The Close Button */
.close {
  background: white;
  color: coral;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
